<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<style></style>
<body>


<form action="product" method="POST" autocomplete="off" >
	{% csrf_token %}
	<h1> Hellow file upload</h1>
	mobile <input type="number" name="mob" id=""><br>
keyboard <input type="number" name="keyboard" id="">
    <button type="submit">save</button>
</form>

	
</body>
</html>